@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

#root {
  margin: 30px;
}

.material-icons {
  cursor: pointer;
  color: rgb(138, 138, 138);
  font-size: 32pt;
}

.icon-switch {
  display: flex;
  justify-content: flex-end;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 5%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.04), 0 10px 10px 0 rgba(27, 27, 27, 0.25);
  margin-bottom: 5%;
}

.cards .card:nth-child(n+2) {
  margin-left: 5%;
}

.cards .card:nth-child(4n+4) {
  margin-left: 0;
}

.title {
  text-transform: uppercase;
  margin-bottom: 0;
}

.card img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.price {
  font-size: 18px;
}

.add-to-cart {
  font-size: 14px;
  border: 1px solid;
  border-radius: 20px;
  padding: 5px 10px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.price_add-to-cart {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  color: #ee2004e3;
}

.add-to-cart:hover {
  color: white;
  background-color: red;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  overflow: hidden;
  background-color: #f5f5f5;
  padding-left: 20px;
  padding-right: 20px;
}

.item:nth-child(n+2) {
  margin-top: 10px;
 }

 .item img {
  height: 100px;
}